:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-image: url('../public/golden.jpeg');
  margin: 0;
}

input {
  background-color: hsl(216, 100%, 90%);
  color: grey;
  padding: .6rem;
  border: 1px solid transparent;
  border-radius: 10px;
}

main {

  margin-left: .8rem;
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
}

/* img {
  opacity: 90%;
} */

textarea {
  background-color: hsl(216, 100%, 90%);
  padding: .5rem;
  height: 5rem;
  border: transparent;
  border-radius: 10px;
}


button {
  padding: .5rem;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(122, 206, 254);
}

header {
  background-color: rgb(236, 245, 245);
  margin: 0 auto;
  padding: .3rem;
  text-align: center;
  opacity: 90%;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

h4 {
  font-size: 1.1rem;
}